language: python

python:
 - "3.6"

env:
  global:
   - DOWNLOADS=$HOME/downloads
   - CACHE=$HOME/cache
   - DERIVATIVES=tests/data/derivatives
   - SOURCE_PATH=$TRAVIS_BUILD_DIR/docs/source
   - API_PATH=$SOURCE_PATH/api
   - BUILD_PATH=$TRAVIS_BUILD_DIR/docs/build
   - HTML_PATH=$TRAVIS_BUILD_DIR/docs/build/html

cache: 
 - directories:
   - $CACHE
   - $HOME/.cache/pip

install: 
 # install requirements
 - pip install pytest pytest-cov codecov
 - pip install Cython 
 - pip install scikit-image popeye 
 - pip install -e git+https://github.com/gpiantoni/sanajeh.git#egg=sanajeh 

script:
 - py.test --cov=bidso tests

after_success:
 - codecov
 - pip install sphinx sphinx_rtd_theme
 - sphinx-apidoc -fMeT -o $API_PATH bidso
 - sphinx-build -T -b html -d $BUILD_PATH/doctrees $SOURCE_PATH $HTML_PATH

notifications:
 email: false

deploy:
 - provider: pypi
   user: $PYPI_USER
   password: $PYPI_PASSWORD
   on:
     tags: true
 - provider: pages
   skip_cleanup: true
   target_branch : gh-pages
   local_dir : docs/build/html
   repo : gpiantoni/bidso
   github_token : $GITHUB_TOKEN
