language: python

python:
 - "3.6"

env:
  global:
   - DOWNLOADS=$HOME/downloads

cache: 
 - directories:
   - $DOWNLOADS
   - $HOME/.cache/pip

before_install:
 - mkdir tests/data/derivatives -p
 - if [ ! -f $DOWNLOADS/freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0.tar.gz ]; then
    wget -q --directory-prefix=$DOWNLOADS ftp://surfer.nmr.mgh.harvard.edu/pub/dist/freesurfer/6.0.0/freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0.tar.gz ;
   fi
 - tar -C tests/data/derivatives -xf $DOWNLOADS/freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0.tar.gz freesurfer/subjects/bert
 - mv freesurfer/subjects/bert freesurfer/bert

install: 
 # install requirements
 - pip install nibabel 
 - pip install pytest pytest-cov codecov
 - pip install -e .

script:
    - py.test --cov=bidso tests/

after_success:
 - codecov

notifications:
 email: false

deploy:
 - provider: pypi
   user: $PYPI_USER
   password: $PYPI_PASSWORD
   on:
     tags: true
